[Match]
Name=br0

[Network]
# Static IPV4 and IPV6 addresses for this bridged segment
Address=192.168.12.1/8
Address=::/64

# bridge runs DHCP and MDNS, also advertises l2 connectivity via LLDP
DHCPServer=yes
MulticastDNS=yes
LinkLocalAddressing=yes
LLMNR=no
LLDP=routers-only
EmitLLDP=yes
IPMasquerade=both
IPForward=yes
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=30s

[DHCPServer]
# server addr=1, first dhcp addr=200, last=254
PoolOffset=199
PoolSize=55
# tell clients our DNS server; use whatever DNS server the host has discovered (via resolv.conf)
EmitDNS=yes
DNS=_server_address
# Clients get default router setting by default (which is this host address)





